<!--  <div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/{{product.productImage}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{product.productName}}</h5>
                <p class="card-text">{{product.productDescription}}</p>
                <a class="nav-link" routerLink="/cart" class="btn btn-primary">Buy</a>
            </div>
        </div>
    </div>
</div>  -->

<section class="section-intro bg-primary padding-y-lg">
	<div class="container">

	  <article class="my-5">
        <p class="lead text-white">Welcome to our services ,login or register the acount and shop now New producs</p>
	    <h5 class="display- text-white"> Best products &  brands in our store  </h5>
	    <p class="lead text-white">Trendy Products, Factory Prices, Excellent Service</p>
	    
	  </article>

	</div> <!-- container end.// -->
</section>
<section class="padding-y">
    <div class="container">
    
        <header class="section-heading">
            <h3 class="section-title">New products</h3>
        </header> 
    
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <img src="../../assets/img1.jpg"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                        <div class="price-wrap">
                            <span class="price">$790.50</span>
                        </div> <!-- price-wrap.// -->
                        <p class="title mb-2">GoPro HERO6 4K Action Camera - Black</p>
                        
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
    
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <img src="../../assets/2.jpg"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                        <div class="price-wrap">
                            <span class="price">$320.00</span>
                        </div> <!-- price-wrap.// -->
                        <p class="title mb-2">Canon camera  20x zoom, Black color EOS 2000</p>
                        
                       
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <img src="../../assets/3.jpg"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                        <div class="price-wrap">
                            <span class="price">$120.00</span>
                        </div> <!-- price-wrap.// -->
                        <p class="title mb-2">Xiaomi Redmi 8 Original Global Version 4GB</p>
                        
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <img src="../../assets/4.jpg"> 
                    </div>
                    <figcaption class="info-wrap border-top">
                        <div class="price-wrap">
                            <span class="price">$120.00</span>
                        </div> <!-- price-wrap.// -->
                        <p class="title mb-2">Apple iPhone 12 Pro 6.1" RAM 6GB 512GB Unlocked</p>
                        
                    </figcaption>
                </figure>
            </div> <!-- col end.// -->
    
        </div> <!-- row end.// -->

    </div> <!-- container end.// -->
    </section>
    <section class="features-area section_gap">
        <div class="container">
            <div class="row features-inner">
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="../../assets/f-icon1.png" alt="">
                        </div>
                        <h6>Free Delivery</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="../../assets/f-icon2.png" alt="">
                        </div>
                        <h6>Return Policy</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="../../assets/f-icon3.png" alt="">
                        </div>
                        <h6>24/7 Support</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
                <!-- single features -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-features">
                        <div class="f-icon">
                            <img src="../../assets/f-icon4.png" alt="">
                        </div>
                        <h6>Secure Payment</h6>
                        <p>Free Shipping on all order</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



