<table class="table">
    <thead>
        <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">productName</th>
            <th scope="col">Final amount</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category</th>
            <th scope="col">Discription</th>
            

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <th scope="row">1</th>
            <td>{{product.productName}}</td>
            <td>{{product.productFinal}}</td>
            <td>{{product. productQuantity}}</td>
            <td>{{product.catId}}</td>
            <td>{{product.productDiscription}}</td>
             <td>
            
             </td>
        </tr>
    </tbody>
</table>