 
 <section class="section-intro bg-primary padding-y-lg">
	<div class="container">

	  <article class="my-5">
       <p class= "display-4 text-white"> This is Admin page </p> 
       <p class="lead text-white">To connect that page login again</p>
	    
        <button class="btn btn-primary" class="nav-link" routerLink="/user" >See the User</button>
        <br>
        <button class="btn btn-primary" class="nav-link" routerLink="/product" >see products</button>
        <br>
        <button class="btn btn-primary" class="nav-link" routerLink="/categories" >see product categories</button>
        <br>
	    
	  </article>

	</div> <!-- container end.// -->
</section>