<div class="container">
    <div class="row">
        <ng-container *ngFor="let product of products">
            <div class="card col-md-3">
                <img src="../../assets/{{product.productImage}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.productName}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.productDescription}}</p>
                <p><strong>Price:</strong> ${{product.productFinal}}</p>
                <button class="btn btn-primary" class="nav-link" routerLink="/cart" (click)=addtocart(product)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>